#contact_modal {
    display: none;
    position: absolute;
    top : 90px;
    margin: auto;
    width: 100%;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}

.modal {
    border-radius: 5px;
    max-width: 50%;
    min-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 200px;
}

.modal header img {
    margin-top: 30px;
    cursor: pointer;
}

.modal header h2 {
    width:600px;
    font-size: 64px;
    font-weight: normal;
    margin: 0px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 26px;
}

.text-control {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}

#message{
    height:140px;
}

.formData{
    margin-bottom: 0px;
}
.error{
    color: rgb(73, 0, 0);
    font-size: 30px;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.photograph-header article h1 {
    color: #D3573C;
    font-size: 50px;
    margin-bottom: 10px;
    margin-right:0px;
}
.photograph-header .pVille {
    font-size: 20px;
    color: #901c1c;
    margin: 0;
    margin-bottom: 10px;
}

.photograph-header .pTagline {
    font-size: 14px;
    margin: 0;
}

.photograph-header article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photograph-header article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

.tri{
    margin-left:100px;
    display:flex;
    flex-direction: row;
    margin-bottom:20px; 
    font-weight: 600;
}
.tri ul{
    position:absolute;
    margin-top:0; 
    margin-left:80px;
    text-align: center;
    width: 142px;
    border-radius: 5px;
    padding-left:0;
}
.tri-popularite, .tri-titre, .border-li{
    visibility:hidden;
}
.liste{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 11px;
    margin-left:10px;
    height: 35px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 200;
    width:110px;
}
.menu-extension-red-square{
    position:absolute;
    left:180px;
    padding: 11px;
    height: 35px;
    border: none;
    width:1px;
    background-color: #901C1C;
    border-radius: 5px;
}

.fa-angle-up{
    position:absolute;
    left:295px;
    margin-top:22px;
    color:white;
    z-index:2;
    cursor: pointer;
}

.border-li{
    margin-left: auto;
    margin-right: auto;
    border-top:1px white solid;
    width:80%;
    height:1px;
}

.tri label{
    cursor: pointer;
}

[type="radio"]:not(:checked){
	/* Cache la checkbox sans
	   la rendre invisible aux
	   lecteurs d'écran */
	position: absolute;
    cursor: pointer;
	left: 0;
	opacity: 0.01;
}

[type="radio"]:checked {
	/* Cache la checkbox sans
	   la rendre invisible aux
	   lecteurs d'écran */
	position: absolute;
	left: 0;
	opacity: 0.01;
}


.photograph-gallerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    
}
.photograph-photo img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 40px;
}

.photograph-gallerie img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    margin-right:0px;
    margin-bottom:0px;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-gallerie video {
    height:350px;
    width: 350px;
    object-fit: cover;
    margin-right: 0px;
    margin-bottom:0px;
    border-radius: 5px;
}

.photograph-gallerie p {
    color:#901c1c;
    margin-top: 5px;
}

.photoTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.priceDay {
    position:fixed;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    right: 10px;
    bottom:0px;
    width:250px;
    height: 45px;
    background-color: #db8876;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.priceDay p{
    margin-left: 15px;    
}

.price {
    margin-right: 15px;
}

.priceDay i{
    color: black;    
    margin-left:4px;
    margin-top:18px;
}

.like {
    display : flex;
    flex-direction: row;
}

.nbrLike {
    font-weight: bold;
}

.divPrice {
    display: flex;
    flex-direction: row;
}

.divPrice i{
    margin-top: 7px;
    margin-left: 7px;
    color: #901c1c;
    cursor: pointer;
}

.carrousel {
    width:100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.carrousel img {
    width: 700px;
    height: 700px;
    object-fit: cover;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    box-shadow: 4px 4px 8px;
}

.carrousel video {
    width: 700px;
    height: 700px;
    object-fit: cover;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    box-shadow: 4px 4px 8px;
}


.close {
    visibility: hidden;
    position: relative;
    left: 420px;
    top:80px;
}
i {
    color: #901c1c;
}

.photo-title-lightbox {
    position:relative;
    color:#901C1C;
    font-size: 24px;
    margin-top: 10px;
    left:60px;
}

.twoLastMedia{
    display:flex;
    flex-direction: row;
    
}

.twoLastMedia article{
    margin-right: 89px;
}
