#contact_modal {
    display: none;
    position: absolute;
    top : 90px;
    margin: auto;
    width: 100%;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 200px;
}

.modal header img {
    margin-top: 30px;
    cursor: pointer;
}

.modal header h2 {
    width:600px;
    font-size: 64px;
    font-weight: normal;
    margin: 0px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
.formData{
    margin-bottom: 0px;
}
.error{
    color: rgb(73, 0, 0);
    font-size: 30px;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.photograph-header article h1 {
    color: #D3573C;
    font-size: 50px;
    margin-bottom: 10px;
    margin-right:0px;
}
.photograph-header .pVille {
    font-size: 20px;
    color: #901c1c;
    margin: 0;
    margin-bottom: 10px;
}

.photograph-header .pTagline {
    font-size: 14px;
    margin: 0;
}

.photograph-header article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photograph-header article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

.photograph-gallerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.photograph-photo img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 40px;
}

.photograph-gallerie img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    margin-right:0px;
    margin-bottom:0px;
    border-radius: 5px;
}

.photograph-gallerie video {
    height:350px;
    width: 350px;
    object-fit: cover;
    margin-right: 0px;
    margin-bottom:0px;
    border-radius: 5px;
}

.photograph-gallerie p {
    color:#901c1c;
    margin-top: 5px;
}

.photoTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.priceDay {
    position:fixed;
    right: 10px;
    bottom:0px;
    width:200px;
    height: 45px;
    background-color: #db8876;
    font-weight: bold;
}

.nbrLike {
    font-weight: bold;
}

.divPrice {
    display: flex;
    flex-direction: row;
}

.divPrice i{
    margin-top: 7px;
    margin-left: 7px;
    color: #901c1c;
}

.carrousel {
    width:100%;
}

li{
    position: absolute;
}

ul{
    margin-left:0;
    list-style-type:none;
    display:block;
    height:600px;
}

li img {
    width: 700px;
    height: 700px;
    object-fit: cover;
    margin-left:13%;
    margin-top:-160px;
}
